asgiref
Django
pytz==2020.1
sqlparse==0.3.1
php-wsgi
pyyaml==5.1
django-crispy-forms
gunicorn
django-heroku
whitenoise
django-allauth
Pillow==8.4.0
urllib3==1.25.6
Nltk==3.4.4
Requests==2.19.1
Jinja2==2.10
